.card {
    width: 192px;
    height: 263px;
    border-radius: 12px;
    background-color: #333;
    padding: 10px;
    position: relative;
    display: flex;
}
.card-body {
    width: 100%;
    height: 100%;
}
.card-body img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.rating {
    border-radius: 8px;
    background-color: #333;
    display: inline-flex;
    padding: 2px 4px;
    height: 22px;
    width: 54px;
    position: absolute;
    top: 14px;
    left: 14px;
}
.rating img {
    width: 12px;
    height: 12px;
}
.rating span {
    width: 32px;
    height: 18px;
}
.card-footer{
    height: 59px;
    width: 177px;
    border: rgba(0, 0, 0, 1);
    backdrop-filter: blur(16px);
    position: absolute;
    bottom: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
}

.card-footer h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

.like-button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgb(76, 74, 74);
    border-radius: 8px;
}
.like-button img {
    width: 12px;
    height: 12px;
}